{% extends "forum_base.html" %}
{% load static %}

{% block breadcrumbs %}
<nav class="forum-navigator" aria-label="forum"><a href="{% url 'forum_index' %}" class="forum-light-link">{{ game_name }} Forum</a>
> <a href="{% url 'board' topic.board.slug %}" class="forum-light-link">{{ topic.board.name }}</a>
> <a href="{% url 'topic_posts' topic.board.slug topic.pk %}" class="forum-light-link">{{ topic.subject }}</a> >> Posting a Reply</nav>
{% endblock %}

{% block content %}
<div class="content">
  <form method="post" novalidate class="forum-post-form">

    {% csrf_token %}
    {% include 'includes/forum_form.html' %}

    <div class="submit">
      <button type="submit" class="submit">Post</button>
    </div>
  </form>
</div>

{% include 'includes/last_posts.html' %}

{% endblock %}