{% extends "website/base.html" %}

{% block titleblock %}Log In{% endblock %}

{% block content %}

{% load addclass %}
<style>
	form {
		display: grid;
		grid-template-columns: auto minmax(12em, auto);
		width: max-content;
		grid-gap: 0.3em;
		margin: auto;
	}
	form label {
		grid-column: 1;
	}
	form select, form input {
		height: unset;
		padding: 0 1em;
		border: 0;
		grid-column: 2;
	}
	form input:focus {
		outline: 2px solid var(--line-color);
	}
	.submit {
		grid-column: 1/3 !important;
	}
</style>
<div class="content">
	{% if user.is_authenticated %}
		<div class="center alert-info" role="alert">You are already logged in!</div>
	{% else %}
		{% if form.errors %}
			<div class="center alert-danger" role="alert">Your username and password are incorrect. Please try again.</div>
		{% endif %}
	{% endif %}

	{% if not user.is_authenticated %}
		<form method="post" action=".">
			{% csrf_token %}

			<label for="id_username">Username:</label>
			{{ form.username }}

			<label for="id_password">Password:</label>
			{{ form.password }}

			<input class="submit" type="submit" value="Log In" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		<p class="center"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
	{% endif %}
</div>
{% endblock %}
