{% extends "base.html" %}

{% block titleblock %}
Forgot Password - Reset Successful
{% endblock %}

{% block content %}

{% load addclass %}
<div class="content">
	<h1 class="card-title">Password Reset</h1>
	<hr />
	{% if user.is_authenticated %}
		<div class="alert alert-info" role="alert">You are already logged in!</div>
	{% else %}
		<p>Your password has been successfully reset!</p>
		<p>You may now log in using it <a href="{% url 'login' %}">here.</a></p>
	{% endif %}
</div>
{% endblock %}
