<h1>The City of Nexus</h1>
<p>A microcosm of the future, where society is ruled by corporate businesses; where magic is real, known, and tightly regulated; where anyone and everyone who doesn't fit into society norms is cast aside, ignored and forgotten.</p>
<p>But <em>forgotten</em> doesn't mean <em>alone</em>.</p>
<p>Welcome to downcity, where those "forgotten" by the corporate hegemony live and community means survival. The poor and the outcast, the rebel and the criminal; whoever or whatever you are, you'll be welcomed.</p>
