<!DOCTYPE HTML>

{% load static %}
<html dir="ltr" lang="en">
  <head>
    <title> Channels - {{game_name}} </title>
    <meta http-equiv="content-type", content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Evennia" />
    <link rel="stylesheet" type="text/css" href="{% static "webclient/css/webclient.css" %}">
    <style>
      .chan-tab {
        border: 1px solid;
        border-radius: 0.5em;
        padding: .2em 1em;
        margin: .0 .5em;
      }
      .active-tab {
        background-color: var(--hi-bg);
        color: var(--green1);
      }

    </style>
  </head>
  <body>
		<div id="channel_tabs" style="height:2em;"></div>
		<div id="channel_log" style="height:calc(100vh - 6em)"></div>
    <form id="input_form" method="post">
      <textarea id="input_box" class="input_box" name="input_box" placeholder="" maxlength="500" data-channel=""></textarea>
    </form>
		<script src="{% static "webclient/js/channels.js" %}?{{client_s_version}}" language="javascript" type="text/javascript" charset="utf-8"/></script>
  </body>
</html>
