@font-face {
  font-family: 'nexus-ui';
  src: url('../font/nexus-ui.eot?65085325');
  src: url('../font/nexus-ui.eot?65085325#iefix') format('embedded-opentype'),
       url('../font/nexus-ui.woff2?65085325') format('woff2'),
       url('../font/nexus-ui.woff?65085325') format('woff'),
       url('../font/nexus-ui.ttf?65085325') format('truetype'),
       url('../font/nexus-ui.svg?65085325#nexus-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nexus-ui';
    src: url('../font/nexus-ui.svg?65085325#nexus-ui') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nexus-ui";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-lock:before { content: '\e800'; } /* '' */
.icon-pin:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-upload:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-info-circled:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-comment:before { content: '\e80b'; } /* '' */
.icon-trash-empty:before { content: '\e80c'; } /* '' */
.icon-megaphone:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-doc:before { content: '\e810'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
